<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>新疆分公司&amp;地址:新疆乌鲁木齐市中山路462号广场联合大厦B座14楼&amp;邮编:830002&amp;电话:(0991)6238222,6238666,6238999&amp;传真:(0991)6512000&amp;服务电话:95589&amp;E-mail:xj@tplife.com&amp;网点:共有8家支公司</string>
	<string>甘肃分公司&amp;地址:甘肃省兰州市城关区金昌南路152－158号山水名庭3－4楼&amp;邮编:730030&amp;电话:无&amp;传真:(0931)8107600&amp;服务电话:95589&amp;E-mail:gs@tplife.com&amp;网点:共有12家支公司</string>
	<string>内蒙古分公司&amp;地址:呼和浩特市乌兰察布东街以南、展东路以东“园艺新家园”104#商业楼3—5层&amp;邮编:010011&amp;电话:(0471)5254148&amp;传真:(0471)6235500&amp;服务电话:95589&amp;E-mail:nmg@tpl.cntaiping.com&amp;网点:共有9家支公司</string>
	<string>四川分公司&amp;地址:四川省成都市青羊区顺城大街308号冠城广场4-6楼、11楼、18楼及306号凯乐大厦4楼&amp;邮编:610017&amp;电话:(028)86957766&amp;传真:(028)86528101&amp;服务电话:95589&amp;E-mail:sc@tpl.cntaiping.com&amp;网点:共有35家支公司</string>
	<string>云南分公司&amp;地址:云南省昆明市盘龙区东风东路47号建业商务中心B座5F、6F&amp;邮编:650041&amp;电话:(0871)3194888&amp;传真:(0871)3186107&amp;服务电话:95589&amp;E-mail:yn@tplife.com&amp;网点:共有5家支公司</string>
	<string>黑龙江分公司&amp;地址:黑龙江省哈尔滨市道里区西八道街2号银行大厦18-22、25、26楼&amp;邮编:150010&amp;电话:(0451)55553888&amp;传真:(0451)55553789&amp;服务电话:95589&amp;E-mail:hlj@tpl.cntaiping.com&amp;网点:共有70家支公司</string>
	<string>吉林分公司&amp;地址:吉林省长春市朝阳区西安大路1688号太平金融大厦2楼、3楼、4楼、19楼、20楼&amp;邮编:130061&amp;电话:(0431)81778106&amp;传真:(0431)81778103&amp;服务电话:95589&amp;E-mail:jl@tplife.com&amp;网点:共有21家支公司</string>
	<string>辽宁分公司&amp;地址:辽宁省沈阳市沈河区悦宾街1号方圆大厦17、18楼&amp;邮编:110013&amp;电话:(024)22505888&amp;传真:(024)22505200&amp;服务电话:95589&amp;E-mail:ln@tplife.com&amp;网点:共有39家支公司</string>
	<string>河北分公司&amp;地址:河北省石家庄桥西区中山西路188号中华商务中心A座23层&amp;邮编:050000&amp;电话:(0311)85519999&amp;传真:(0311)85519686&amp;服务电话:95589&amp;E-mail:hb@tplife.com&amp;网点:共有50家支公司</string>
	<string>山西分公司&amp;地址:山西省太原市长风大街705号和信商座7层、31层&amp;邮编:030006&amp;电话:(0351)7526360&amp;传真:(0351)7526360&amp;服务电话:95589&amp;E-mail:dx.taiyuan@tpl.cntaiping.com&amp;网点:共有38家支公司</string>
	<string>陕西分公司&amp;地址:陕西省西安市碑林区南广济街133号金泰丰国际商务大厦3楼、4楼、12楼&amp;邮编:710002&amp;电话:(029)68719009&amp;传真:(029)68719000&amp;服务电话:95589&amp;E-mail:sx@tpl.cntaiping.com&amp;网点:共有15家支公司</string>
	<string>山东分公司&amp;地址:济南市泺源大街229号金龙大厦27、31楼&amp;邮编:250012&amp;电话:(0531)86112233&amp;传真:(0531)86113899&amp;服务电话:95589&amp;E-mail:sd@tplife.com&amp;网点:共有98家支公司</string>
	<string>海南分公司&amp;地址:海南省海口市龙华区国贸大道56号北京大厦6楼、14楼H、F、15楼H&amp;邮编:570125&amp;电话:(0898)36683518&amp;传真:(0898)36624000&amp;服务电话:95589&amp;E-mail:hainan@tplife.com&amp;网点:共有3家支公司</string>
	<string>河南分公司&amp;地址:河南省郑州市郑东新区CBD商务外环路1号蓝码地王大厦5-8层&amp;邮编:450000&amp;电话:(0371)69333899&amp;传真:(0371)69333900&amp;服务电话:95589&amp;E-mail:hn@tplife.com&amp;网点:共有115家支公司</string>
	<string>湖北分公司&amp;地址:湖北省武汉市汉口解放大道634号新世界中心写字楼A座13、14楼、B座13楼&amp;邮编:430032&amp;电话:(027)59317555&amp;传真:(027)59317555&amp;服务电话:95589&amp;E-mail:hubei@tpl.cntaiping.com&amp;网点:共有63家支公司</string>
	<string>安徽分公司&amp;地址:安徽省合肥市长江西路200号置地投资广场4、5、16、17、18楼&amp;邮编:230061&amp;电话:(0551)65376666&amp;传真:(0551)65378088&amp;服务电话:95589&amp;E-mail:ah@tplife.com&amp;网点:共有56家支公司</string>
	<string>江苏分公司&amp;地址:江苏省南京市洪武北路55号置地广场5、24、26楼&amp;邮编:210005&amp;电话:(025)84512111&amp;传真:(025)68559000&amp;服务电话:95589&amp;E-mail:Js@tplife.com&amp;网点:共有62家支公司</string>
	<string>重庆分公司&amp;地址:重庆市渝中区邹容路131号世界贸易中心53-55楼&amp;邮编:400010&amp;电话:(023)63736366&amp;传真:(023)63736366&amp;服务电话:02363731898&amp;E-mail:chq@tpl.cntaiping.com&amp;网点:共有12家支公司</string>
	<string>贵州分公司&amp;地址:贵州省贵阳市云岩区中山西路56号恒峰商业步行街14、14A、15、15A层&amp;邮编:550000&amp;电话:(0851)5887079&amp;传真:(0851)5887000&amp;服务电话:95589&amp;E-mail:gz@tpl.cntaiping.com&amp;网点:共有11家支公司</string>
	<string>湖南分公司&amp;地址:湖南省长沙市雨花区人民东路46号铭诚国际大厦2、3、27、28楼&amp;邮编:410016&amp;电话:(0731)85197688&amp;传真:(0731)85197667&amp;服务电话:95589&amp;E-mail:dx.hunan@tplife.com&amp;网点:共有39家支公司</string>
	<string>江西分公司&amp;地址:江西省南昌市胜利路267号胜利广场裙楼A区5楼&amp;邮编:330008&amp;电话:(0791)86213000&amp;传真:(0791)86304626&amp;服务电话:95589&amp;E-mail:jx@tpl.cntaiping.com&amp;网点:共有51家支公司</string>
	<string>广西分公司&amp;地址:广西南宁市民族大道127号铂宫国际17层、18层&amp;邮编:530022&amp;电话:(0771)2380138&amp;传真:(0771)2380025&amp;服务电话:95589&amp;E-mail:gx@tplife.com&amp;网点:共有13家支公司</string>
	<string>广东分公司&amp;地址:广东省广州市天河区体育西路123号新创举大厦8、12、20、21楼&amp;邮编:510620&amp;电话:(020)61006888&amp;传真:(020)61313300&amp;服务电话:95589&amp;E-mail:gd@tplife.com&amp;网点:共有64家支公司</string>
	<string>福建分公司&amp;地址:福建省福州市鼓楼区五四路159号世界金龙大厦25、26、31层&amp;邮编:350003&amp;电话:(0591)88529999&amp;传真:(0591)88523811&amp;服务电话:95589&amp;E-mail:FJ@tpl.cntaiping.com&amp;网点:共有23家支公司</string>
	<string>浙江分公司&amp;地址:浙江省杭州市庆春路136号-138号广利大厦4F-5F&amp;邮编:310003&amp;电话:(0571)28889696&amp;传真:(0571)28992933&amp;服务电话:95589&amp;E-mail:zj@tplife.com&amp;网点:共有32家支公司</string>
	<string>上海分公司&amp;地址:上海市浦东新区民生路1399号10层、11层、12层、17层&amp;邮编:200135&amp;电话:(021)62722100&amp;传真:(021)62722828&amp;服务电话:95589&amp;E-mail:sh@tplife.com&amp;网点:共有7个家支公司</string>
	<string>北京分公司&amp;地址:北京市海淀区西直门北大街52号太平金融大厦&amp;邮编:100082&amp;电话:(010)82299500&amp;传真:(010)82299600&amp;服务电话:95589&amp;E-mail:bj@tpl.cntaiping.com&amp;网点:共有12家支公司</string>
	<string>天津分公司&amp;地址:天津市南开区南京路309号环球置地广场1004、1005、1006、11、12、13层&amp;邮编:300073&amp;电话:(022)23329933&amp;传真:(022)23302186&amp;服务电话:95589&amp;E-mail:tj@tpl.cntaiping.com&amp;网点:共有12家支公司</string>
	<string>大连分公司&amp;地址:辽宁省大连市中山区七一街11号24、25楼&amp;邮编:116001&amp;电话:(0411)82798888&amp;传真:(0411)82798981&amp;服务电话:95589&amp;E-mail:dl@tplife.com&amp;网点:共有9家支公司</string>
	<string>青岛分公司&amp;地址:山东省青岛市市南区香港中路20号黄金广场北楼17楼&amp;邮编:266071&amp;电话:(0532)85023666&amp;传真:(0532)85022277&amp;服务电话:95589&amp;E-mail:qd@tpl.cntaiping.com&amp;网点:共有10家支公司</string>
	<string>苏州分公司&amp;地址:江苏省苏州市新区狮山路35号金河国际大厦13\15\39楼&amp;邮编:215011&amp;电话:(0512)68415888&amp;传真:(0512)68415666&amp;服务电话:95589&amp;E-mail:suzhou@tplife.com&amp;网点:共有8家支公司</string>
	<string>宁波分公司&amp;地址:浙江省宁波市海曙区中山西路2号恒隆中心4-6楼&amp;邮编:315010&amp;电话:(0574)87710888&amp;传真:(0574)87707320&amp;服务电话:95589&amp;E-mail:nb@tplife.com&amp;网点:共有8家支公司</string>
	<string>厦门分公司&amp;地址:福建省厦门市思明区湖滨北路72号中闽大厦5、11层&amp;邮编:361012&amp;电话:(0592)5352888&amp;传真:(0592)5352862\5352866&amp;服务电话:95589&amp;E-mail:FJ@tpl.cntaiping.com&amp;网点:共有3家支公司</string>
	<string>佛山分公司&amp;地址:广东省佛山市禅城区季华五路21号金海广场25楼(前台)、19楼&amp;邮编:528000&amp;电话:(0757)82302228&amp;传真:(0757)82253855&amp;服务电话:95589&amp;E-mail:fs@tplife.com&amp;网点:共有5家支公司</string>
	<string>深圳分公司&amp;地址:广东省深圳市福田区深南大道4019号航天大厦A座4楼、19楼&amp;邮编:518048&amp;电话:(0755)33388999、33388984&amp;传真:(0755)33388600&amp;服务电话:95589&amp;E-mail:sz@tplife.com&amp;网点:共有6家支公司</string>
</array>
</plist>
